<div class="row-fluid" style="margin-right: 5px" data-bind="visible:loadingVisible">
	<i class="ace-icon fa fa-spinner fa-spin blue fa-3x"></i>
	Please Wait ...
</div>
<form id="ScopeClaimForm" class="modal-body" data-bind="visible:contentVisible,enable:enabled">
	<div class="clearfix"></div>
	<h3 id="title"></h3>
	<div class="row-fluid" style="margin-right: 5px">
		<div class="form-group col-md-12">
			<label for="Name">Name </label>
			<input type="text" name="Name" class="form-control"
				   data-bind="value:clientRow.Name,enable:enabled" maxlength="200">
		</div>
		<div class="form-group col-md-4" style="margin-top:25px;">
			<input name="AlwaysIncludeInIdToken" type="checkbox" value="msg" data-bind="checked: clientRow.AlwaysIncludeInIdToken,enable:enabled" />
			<label for="AlwaysIncludeInIdToken">Always Include In Id Token</label>
		</div>
		<div class="form-group col-md-12">
			<label for="Description">Description </label>
			<textarea class="form-control" rows="5" name="Description" id="Address"
					  placeholder="" data-bind="value:clientRow.Description,enable:enabled" maxlength="1000"></textarea>
		</div>
	</div>
</form>
<div class="clearfix"></div>
<div class="modal-footer" style="display: block;" data-bind="visible:contentVisible">
	<div class="bootstrap-dialog-footer">
		<div class="bootstrap-dialog-footer-buttons">
			<button class="btn btn-primary" data-bind="click:dialogOkClick,visible:saveButtonVisible,enable:enableButton"><span class="bootstrap-dialog-button-icon fa fa-check"></span> ok </button>
			<button class="btn btn-default btn-small" data-bind="click:dialogCancelClick,enable:enableButton"><span class="bootstrap-dialog-button-icon fa fa-times"></span> Exit </button>
		</div>
	</div>
</div>

