<div class="branding scheme-black">
    <a class="brand" href="index.html">
        <span><strong>RIMS</strong>Software</span>
    </a>
    <a href="#" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
</div>