@*<div id="wrap" class="animsition">
	<div id="wrap" class="">*@
<!-- ===============================================
================= HEADER Content ===================
================================================ -->
<section id="header" class="scheme-black">
	<headercomponent></headercomponent>
</section>
<!--/ HEADER Content  -->
<!-- =================================================
================= CONTROLS Content ===================
================================================== -->
<div id="controls">
	<!-- ================================================
	================= SIDEBAR Content ===================
	================================================= -->
	<aside id="sidebar" class="aside-fixed scheme-black">
		<div id="sidebar-wrap">
			<div class="panel-group slim-scroll" role="tablist">
				<div class="panel panel-default">
					<div class="panel-heading" role="tab">
						<h3 class="panel-title">
							<a data-toggle="collapse" href="#sidebarNav">
								<i class="fa fa-angle-up" style="font-size:larger">Toolbar</i>
							</a>
						</h3>
					</div>

					<div id="sidebarNav" class="panel-collapse collapse in" role="tabpanel">
						<div class="panel-body">
							<!-- ===================================================
							================= NAVIGATION Content ===================
							==================================================== -->

							<ul id="navigation">
								<li id="homeLink" class="active open"><a href="#/home"><i class="fa fa-home"></i> <span style="font-size:larger">Home</span></a></li>
								<li id="BasicOperationMenu" class="">
									<a href="#"><i class="fa fa-file"></i><span style="font-size:larger">Operation</span></a>
									<ul>
										<li id="permission" class=""><a href="#/permission" style="font-size:larger"><i class="fa fa-plus-square-o"></i>Permission</a></li>
									</ul>
									<ul>
										<li id="client" class=""><a href="#/client" style="font-size:larger"><i class="fa fa-plus-square-o"></i>Client</a></li>
									</ul>
									<ul>
										<li id="scope" class=""><a href="#/scope" style="font-size:larger"><i class="fa fa-plus-square-o"></i>Scope</a></li>
									</ul>
									<ul>
										<li id="user" class=""><a href="#/user" style="font-size:larger"><i class="fa fa-plus-square-o"></i>User</a></li>
									</ul>
								</li>
							</ul>
							<!--/ NAVIGATION Content -->
						</div>
					</div>
				</div>
				
				<div class="panel settings panel-default">
					<div class="panel-heading" role="tab">
						<h4 class="panel-title">
							<a data-toggle="collapse" href="#sidebarControls">
							</a>
						</h4>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<!--/ SIDEBAR Content -->
	<!-- =================================================
	================= RIGHTBAR Content ===================
	================================================== -->
	<aside id="rightbar">
		<div role="tabpanel">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#users" aria-controls="users" role="tab" data-toggle="tab"><i class="fa fa-users"></i></a></li>
				<li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab"><i class="fa fa-clock-o"></i></a></li>
				<li role="presentation"><a href="#friends" aria-controls="friends" role="tab" data-toggle="tab"><i class="fa fa-heart"></i></a></li>
				<li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"><i class="fa fa-cog"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="users">
					<h6><strong>Online</strong> Users</h6>
					<ul>
						<li class="online">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/ici-avatar.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
									<small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
						<li class="online">
							<div class="media">

								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/arnold-avatar.jpg" alt>
								</a>
								<span class="badge bg-lightred unread">3</span>

								<div class="media-body">
									<span class="media-heading">Arnold <strong>Karlsberg</strong></span>
									<small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
						<li class="online">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/peter-avatar.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Peter <strong>Kay</strong></span>
									<small><i class="fa fa-map-marker"></i> Kosice, Slovakia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
						<li class="online">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/george-avatar.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">George <strong>McCain</strong></span>
									<small><i class="fa fa-map-marker"></i> Prague, Czech Republic</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="busy">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar1.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Lucius <strong>Cashmere</strong></span>
									<small><i class="fa fa-map-marker"></i> Wien, Austria</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="busy">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar2.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Jesse <strong>Phoenix</strong></span>
									<small><i class="fa fa-map-marker"></i> Berlin, Germany</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
					</ul>

					<h6><strong>Offline</strong> Users</h6>

					<ul>

						<li class="offline">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar4.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Dell <strong>MacApple</strong></span>
									<small><i class="fa fa-map-marker"></i> Paris, France</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="offline">
							<div class="media">

								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar5.jpg" alt>
								</a>

								<div class="media-body">
									<span class="media-heading">Roger <strong>Flopple</strong></span>
									<small><i class="fa fa-map-marker"></i> Rome, Italia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="offline">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar6.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Nico <strong>Vulture</strong></span>
									<small><i class="fa fa-map-marker"></i> Kyjev, Ukraine</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="offline">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar7.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Bobby <strong>Socks</strong></span>
									<small><i class="fa fa-map-marker"></i> Moscow, Russia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="offline">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar8.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Anna <strong>Opichia</strong></span>
									<small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div role="tabpanel" class="tab-pane" id="history">
					<h6><strong>Chat</strong> History</h6>

					<ul>

						<li class="online">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/ici-avatar.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
									<small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="busy">
							<div class="media">

								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/arnold-avatar.jpg" alt>
								</a>
								<span class="badge bg-lightred unread">3</span>

								<div class="media-body">
									<span class="media-heading">Arnold <strong>Karlsberg</strong></span>
									<small>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="offline">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/peter-avatar.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Peter <strong>Kay</strong></span>
									<small>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit </small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div role="tabpanel" class="tab-pane" id="friends">
					<h6><strong>Friends</strong> List</h6>
					<ul>

						<li class="online">
							<div class="media">

								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/arnold-avatar.jpg" alt>
								</a>
								<span class="badge bg-lightred unread">3</span>

								<div class="media-body">
									<span class="media-heading">Arnold <strong>Karlsberg</strong></span>
									<small><i class="fa fa-map-marker"></i> Bratislava, Slovakia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="offline">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar8.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Anna <strong>Opichia</strong></span>
									<small><i class="fa fa-map-marker"></i> Budapest, Hungary</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="busy">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/random-avatar1.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Lucius <strong>Cashmere</strong></span>
									<small><i class="fa fa-map-marker"></i> Wien, Austria</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>

						<li class="online">
							<div class="media">
								<a class="pull-left thumb thumb-sm" href="#">
									<img class="media-object img-circle" src="~/Content/Images/ici-avatar.jpg" alt>
								</a>
								<div class="media-body">
									<span class="media-heading">Ing. Imrich <strong>Kamarel</strong></span>
									<small><i class="fa fa-map-marker"></i> Ulaanbaatar, Mongolia</small>
									<span class="badge badge-outline status"></span>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<div role="tabpanel" class="tab-pane" id="settings">
					<h6><strong>Chat</strong> Settings</h6>

					<ul class="settings">

						<li>
							<div class="form-group">
								<label class="col-xs-8 control-label">Show Offline Users</label>
								<div class="col-xs-4 control-label">
									<div class="onoffswitch greensea">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-offline" checked="">
										<label class="onoffswitch-label" for="show-offline">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="form-group">
								<label class="col-xs-8 control-label">Show Fullname</label>
								<div class="col-xs-4 control-label">
									<div class="onoffswitch greensea">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-fullname">
										<label class="onoffswitch-label" for="show-fullname">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="form-group">
								<label class="col-xs-8 control-label">History Enable</label>
								<div class="col-xs-4 control-label">
									<div class="onoffswitch greensea">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-history" checked="">
										<label class="onoffswitch-label" for="show-history">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="form-group">
								<label class="col-xs-8 control-label">Show Locations</label>
								<div class="col-xs-4 control-label">
									<div class="onoffswitch greensea">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-location" checked="">
										<label class="onoffswitch-label" for="show-location">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="form-group">
								<label class="col-xs-8 control-label">Notifications</label>
								<div class="col-xs-4 control-label">
									<div class="onoffswitch greensea">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-notifications">
										<label class="onoffswitch-label" for="show-notifications">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="form-group">
								<label class="col-xs-8 control-label">Show Undread Count</label>
								<div class="col-xs-4 control-label">
									<div class="onoffswitch greensea">
										<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="show-unread" checked="">
										<label class="onoffswitch-label" for="show-unread">
											<span class="onoffswitch-inner"></span>
											<span class="onoffswitch-switch"></span>
										</label>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</aside>
	<!--/ RIGHTBAR Content -->
</div>

<!--/ CONTROLS Content -->
<!-- ====================================================
================= CONTENT ===============================
===================================================== -->
<section id="content" style="overflow:auto !important;">
	<div class="page page-rtl-layout">
		<div class="row-fluid" style="margin-right: 5px" data-bind="visible:loadingVisible">
			<i class="ace-icon fa fa-spinner fa-spin blue fa-3x"></i>
			Loading Component, Please wait ...
		</div>
		<div class="clearfix"></div>
		<div data-bind="component: currentComponent"></div>
		@*<div class="pageheader">
				<div class="page-bar">
					<ul class="page-breadcrumb">
						<li>
							<a href="#"><i class="fa fa-home"></i> Minovate</a>
						</li>
						<li>
							<a href="#">Dashboard</a>
						</li>
					</ul>
				</div>
			</div>*@
	</div>
</section>
<!--/ CONTENT -->
@*</div>*@