/*#region fonts */
/*#endregion */
/*#region bootstrap-colors */
/*#endregion */
/*#region bootstrap-screen-size */
/*#endregion */
/*#region color-palette */
/*#endregion */
@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/IRANSansWeb(FaNum)_Bold.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"), url("fonts/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"), url("fonts/IRANSansWeb(FaNum)_Bold.woff") format("woff"), url("fonts/IRANSansWeb(FaNum)_Bold.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/IRANSansWeb(FaNum)_Medium.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"), url("fonts/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"), url("fonts/IRANSansWeb(FaNum)_Medium.woff") format("woff"), url("fonts/IRANSansWeb(FaNum)_Medium.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/IRANSansWeb(FaNum)_Light.eot");
  src: url("fonts/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"), url("fonts/IRANSansWeb(FaNum)_Light.woff2") format("woff2"), url("fonts/IRANSansWeb(FaNum)_Light.woff") format("woff"), url("fonts/IRANSansWeb(FaNum)_Light.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: 200;
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.eot");
  src: url("fonts/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"), url("fonts/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"), url("fonts/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"), url("fonts/IRANSansWeb(FaNum)_UltraLight.ttf") format("truetype"); }

@font-face {
  font-family: IRANSans;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/IRANSansWeb(FaNum).eot");
  src: url("fonts/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"), url("fonts/IRANSansWeb(FaNum).woff2") format("woff2"), url("fonts/IRANSansWeb(FaNum).woff") format("woff"), url("fonts/IRANSansWeb(FaNum).ttf") format("truetype"); }

/*#region bootstrap-override */
input, select, textarea, button,
.input-group .form-control:first-child,
.input-group .form-control:last-child,
.input-group-addon:first-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn,
.pagination, .btn, .breadcrumb,
.pagination > li:first-child > a, .pagination > li:first-child > span,
.pagination > li:last-child > a, .pagination > li:last-child > span,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn,
.panel, .panel-heading, .panel-footer,
.thumbnail, .alert, .btn-sm, .btn-group-sm > .btn,
.tooltip-inner, .form-control, .panel {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important; }

.btn-default {
  font-weight: bold; }

.form-group:not(.has-error) .input-group-addon:first-child {
  border-right: 1px solid #BDBDBD; }

.form-group:not(.has-error) .input-group-addon:last-child {
  border-left: 1px solid #BDBDBD; }

.form-control {
  height: 40px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color 0.15s ease-in-out 0;
  -moz-transition: border-color 0.15s ease-in-out 0;
  -o-transition: border-color 0.15s ease-in-out 0;
  transition: border-color 0.15s ease-in-out 0;
  border-radius: unset; }
  .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none; }

.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group,
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  height: 40px; }

.pagination {
  margin: 0 0 10px; }

.breadcrumb {
  background-color: #FFFFFF;
  border: none;
  padding: 0; }

label {
  font-weight: normal; }

.popover,
.tooltip {
  font-family: IRANSans; }

.dropdown-menu {
  left: 0;
  right: auto; }

.panel .panel-title {
  font-size: 14px; }

.jstree-proton.jstree-rtl .jstree-node {
  background-image: none !important; }

.input-group.filter .input-group-addon {
  background-color: #FFFFFF; }
  .input-group.filter .input-group-addon .fa-times:hover {
    cursor: pointer; }

/*#endregion */
/*#region defaults */
body {
  font-family: IRANSans, Tahoma;
  padding-top: 50px;
  width: 100%;
  overflow-x: hidden; }

a,
a:hover,
a:focus,
a:active {
  outline: 0;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

.left-to-right {
  direction: ltr;
  font-family: Tahoma; }

::-webkit-input-placeholder {
  direction: rtl;
  font-family: IRANSans;
  text-align: right; }

:-moz-placeholder {
  direction: rtl;
  font-family: IRANSans;
  text-align: right; }

::-moz-placeholder {
  direction: rtl;
  font-family: IRANSans;
  text-align: right; }

:-ms-input-placeholder {
  direction: rtl;
  font-family: IRANSans;
  text-align: right; }

/*#endregion */
/*#region Dropzone */
.dropzone {
  border: 2px dotted #8c8c8c;
  border-radius: 5px; }

.dz-max-files-reached {
  background-color: rgba(255, 0, 0, 0.22); }

.MyDefaultImg {
  line-height: 19px;
  background-color: #adadad;
  cursor: pointer !important;
  padding: 3px 9px;
  margin-top: 3px;
  color: white;
  width: 85%;
  margin: 3px 10%;
  font-size: 11px;
  text-align: center !important; }

.MyDefaultImg.Active {
  background-color: #469408; }

.dz-preview button {
  width: 85%;
  margin: 3px 10%;
  font-size: 12px;
  cursor: pointer !important; }

/*#endregion */
/*#region main */
.btn-form {
  padding: 9px 12px 10px; }

.calendar-input .input-group-addon {
  background-color: #FFFFFF; }

h2.section-title {
  font-size: 18px;
  border-bottom: 1px solid #616161;
  padding-bottom: 5px;
  margin-bottom: 10px; }

a.like-text {
  color: #212121;
  text-decoration: none; }

.color-grey {
  color: #757575; }

.color-orange {
  color: #FF9800; }

.main {
  padding: 20px; }
  @media (min-width: 768px) {
    .main {
      padding: 20px 40px; } }
  .main .page-title-main {
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 10px; }
    .main .page-title-main h1 {
      font-size: 22px;
      margin-top: 0; }
    .main .page-title-main > div:first-of-type {
      padding-right: 0; }
    .main .page-title-main > div:last-of-type {
      padding-left: 0; }

.btn > i.fa {
  position: relative;
  top: 2px; }

label.required:after {
  color: #F44336;
  content: "*";
  font-weight: bold;
  padding-right: 3px; }

.bottom-space {
  margin-bottom: 20px; }

.hierarchical-list {
  list-style: none; }
  .hierarchical-list ul {
    list-style: none; }

.jjson-container {
  overflow: initial; }
  .jjson-container .close {
    color: #333;
    font-size: 13px;
    font-weight: normal;
    line-height: 1.2;
    opacity: 1;
    text-shadow: none;
    float: none; }

.delete-role-item a {
  float: left; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.link-box > div {
  text-align: center;
  border: 1px solid #CFD8DC;
  margin-top: 30px;
  padding: 35px 35px 15px;
  background-color: #FAFAFA;
  min-height: 224px; }
  .link-box > div i {
    font-size: 70px;
    color: #607D8B;
    transition: color ease-out .3s; }
  .link-box > div h2 {
    border-bottom: 1px dashed #B0BEC5;
    font-size: 15px; }
    .link-box > div h2 a {
      display: block;
      padding-bottom: 15px; }
      .link-box > div h2 a:hover, .link-box > div h2 a:active, .link-box > div h2 a:focus {
        color: #1565C0; }
  .link-box > div > a {
    font-size: 12px;
    padding: 0; }
    .link-box > div > a:after {
      content: "|";
      padding: 0 4px; }
    .link-box > div > a:last-of-type:after {
      content: ""; }
  .link-box > div:hover i {
    color: #FF9800;
    transition: color ease-in .3s; }

/*#endregion */
/*#region sidebar */
@media (min-width: 768px) {
  .sidebar {
    background-color: #F5F5F5;
    border-left: 1px solid #EEEEEE;
    bottom: 0;
    display: block;
    right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 0 20px;
    position: fixed;
    top: 50px;
    z-index: 1000; } }

.sidebar {
  padding-left: 0;
  padding-right: 0; }
  .sidebar > .row {
    margin: 0; }
  .sidebar .user-info {
    padding-left: 0;
    padding-right: 0; }
    .sidebar .user-info img {
      width: 96px;
      margin: 10px 0; }
    .sidebar .user-info > ul.top-user-link {
      padding: 0;
      margin-bottom: 6px; }
      .sidebar .user-info > ul.top-user-link > li {
        list-style: none;
        display: inline-block; }
        .sidebar .user-info > ul.top-user-link > li a {
          display: block;
          padding: 4px;
          border: 1px solid #E0E0E0;
          color: #757575;
          margin-top: 6px; }
          .sidebar .user-info > ul.top-user-link > li a > i {
            font-size: 18px; }
    .sidebar .user-info .user-full-name {
      display: block;
      color: #03A9F4;
      background-color: #EEEEEE;
      padding: 5px 0;
      margin-top: 5px; }
      .sidebar .user-info .user-full-name:hover, .sidebar .user-info .user-full-name:focus, .sidebar .user-info .user-full-name:active {
        text-decoration: none; }
    .sidebar .user-info .user-settings {
      display: none;
      padding: 0;
      margin-bottom: 0; }
      .sidebar .user-info .user-settings > li {
        list-style: none;
        display: block;
        text-align: right; }
        .sidebar .user-info .user-settings > li a {
          display: block;
          padding: 5px 38px 5px 0;
          background-color: #EEEEEE;
          font-size: 13px;
          color: #616161; }
          .sidebar .user-info .user-settings > li a > i {
            color: #9E9E9E;
            padding-left: 5px; }
          .sidebar .user-info .user-settings > li a:hover, .sidebar .user-info .user-settings > li a:focus, .sidebar .user-info .user-settings > li a:active {
            text-decoration: none;
            background-color: #E0E0E0; }
        .sidebar .user-info .user-settings > li:last-child a {
          padding-bottom: 10px; }
  .sidebar > .nav-sidebar a {
    color: #616161;
    font-size: 13px; }
  .sidebar > .nav-sidebar > li > a {
    padding: 10px 20px;
    border-bottom: 1px solid #FFFFFF; }
    .sidebar > .nav-sidebar > li > a > i {
      color: #757575;
      font-size: 14px;
      position: relative;
      top: 2px; }
  .sidebar > .nav-sidebar > li.dropdown > a > i:last-of-type {
    float: left;
    position: relative;
    top: 3px; }
  .sidebar > .nav-sidebar .active > a, .sidebar > .nav-sidebar .active > a:hover, .sidebar > .nav-sidebar .active > a:focus {
    border-left: 4px solid #FFB300; }
  .sidebar > .nav-sidebar > li > ul {
    display: none;
    list-style: none; }
    .sidebar > .nav-sidebar > li > ul a {
      list-style: none;
      padding-right: 40px; }
  .sidebar > .nav-sidebar > li.open > ul {
    display: block; }
  .sidebar > .nav-sidebar > li.open > a, .sidebar > .nav-sidebar > li.open > a:hover,
  .sidebar > .nav-sidebar > li.open > a:focus, .sidebar > .nav-sidebar > li.open > a:active, .sidebar > .nav-sidebar > li.open > ul > li {
    border-bottom: 1px solid #FFFFFF; }
  .sidebar > .nav-sidebar > li.open > ul > li > a {
    font-size: 12px; }

/*#endregion */
/*#region header */
.top-header {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#17233c+0,394f79+100 */
  background: #17233c;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #17233c 0%, #394f79 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #17233c 0%, #394f79 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #17233c 0%, #394f79 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#17233c', endColorstr='#394f79',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */ }
  .top-header a {
    color: #F5F5F5;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px; }
    .top-header a:hover {
      color: #FFFFFF; }
    .top-header a img {
      margin: 5px 0 5px 10px; }
  .top-header .header-title {
    font-size: 16px;
    padding: 0;
    margin: 0; }
    .top-header .header-title a {
      display: inline-block;
      padding-top: 15px; }
      .top-header .header-title a:hover, .top-header .header-title a:active, .top-header .header-title a:focus {
        color: #FF9800; }

.search-form {
  padding-left: 30px; }
  .search-form input[type="text"] {
    height: 50px;
    border: none;
    border-bottom: 1px solid #00ACC1;
    border-top: 1px solid #00ACC1;
    background-color: #E0F7FA; }
    .search-form input[type="text"]:focus {
      background-color: #FFFFFF; }

.top-header-navigation {
  text-align: left;
  position: relative; }
  .top-header-navigation ul {
    margin: 0; }
    .top-header-navigation ul li a {
      position: relative; }
      .top-header-navigation ul li a .badge {
        background-color: #E53935;
        font-size: 10px;
        left: 10px;
        padding: 5px 7px 3px;
        position: absolute;
        top: -5px; }
    .top-header-navigation ul li.dropdown {
      position: relative; }
      .top-header-navigation ul li.dropdown ul {
        display: none;
        position: absolute;
        width: 200px;
        top: 60px;
        padding: 0;
        margin: 0;
        border: 1px solid #00ACC1;
        text-align: right; }
        .top-header-navigation ul li.dropdown ul:after, .top-header-navigation ul li.dropdown ul:before {
          bottom: 100%;
          border: solid #00ACC1;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .top-header-navigation ul li.dropdown ul:after {
          border-color: rgba(255, 255, 255, 0);
          border-bottom-color: #ffffff;
          border-width: 0;
          right: -1px;
          margin-left: -9px; }
        .top-header-navigation ul li.dropdown ul:before {
          border-color: rgba(113, 158, 206, 0);
          border-bottom-color: #00ACC1;
          border-width: 10px;
          right: -1px;
          margin-left: -10px; }
        .top-header-navigation ul li.dropdown ul li {
          background-color: #FFFFFF;
          list-style: none; }
          .top-header-navigation ul li.dropdown ul li:nth-child(2n+1) a {
            background-color: #F5F5F5; }
          .top-header-navigation ul li.dropdown ul li a {
            display: block;
            color: #000000;
            font-size: 12px;
            padding: 0 5px;
            line-height: 40px; }
            .top-header-navigation ul li.dropdown ul li a:hover {
              background-color: #EEEEEE; }
        .top-header-navigation ul li.dropdown ul.open {
          display: block; }
.navbar-inverse {
    background-color: #51445f;
    border-color: #f5f5f5;
}


.navbar-fixed-top {
    border: 0 none;
}

.navbar-inverse {
    background-color: $color-cyan-600;

    .navbar-brand {
        color: $color-grey-100;
        vertical-align: middle;

        img {
            margin-left: 10px;
        }
    }
}

.navbar-login {
    width: 305px;
}

.navbar-login-session {
    padding: 10px;
    padding-bottom: 0;
    padding-top: 0;
}

.icon-size {
    font-size: 87px;
}
/*#endregion */
/*#region dashboard */
.dashboard-widgets > div {
  margin-bottom: 10px; }

/*#endregion */
/*#region bootstrap-switch */
.bootstrap-switch,
.bootstrap-switch .bootstrap-switch-container,
.bootstrap-switch .bootstrap-switch-handle-on,
.bootstrap-switch .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on,
.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off,
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label,
.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

.bootstrap-switch.bootstrap-switch-focused {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/*#endregion */
/*#region table */
.table tr.drafted {
  background-color: #FFF3E0; }

.table tr.deleted,
.table tr.blocked {
  background-color: #FFEBEE; }

.table.data-table thead tr th {
  color: #616161; }

.table.data-table tr > td {
  vertical-align: middle; }

.table.data-table tr > td .help-block {
  margin-bottom: 0; }

#mydatatable tr > td {
  vertical-align: middle; }

/*#endregion */
/*#region datatable */
.dataTables_info,
.dataTables_paginate.paging_full_numbers,
.dataTables_filter,
.dataTables_length {
  font-size: 12px; }

.dataTables_info,
.dataTables_length {
  text-align: left; }

.dataTables_filter input.form-control {
  height: 30px;
  margin-right: 5px; }

/*#endregion */
/*#region category */
.category-row {
  width: 100%;
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  padding-right: 10px;
  background-color: #F5F5F5;
  float: right;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }

.category-row > div {
  float: right;
  line-height: 30px;
  border-left: 1px solid #BDBDBD;
  margin: 7px;
  padding-left: 50px;
  height: 60px; }

.category-row > div:first-of-type {
  padding-left: 10px; }

.category-row > div:last-of-type {
  border-left: none;
  padding-left: 0; }

.category-row > div.row-icon,
.category-row > div.row-action {
  line-height: 60px; }

.category-row > div > a,
.category-row > div > span {
  display: block; }

.category-row > div > span {
  font-size: 12px; }

.category-row > div > span:last-of-type {
  color: #9E9E9E;
  font-size: 11px; }

.category-row > div.row-icon > i {
  font-size: 20px;
  color: #424242; }

.category-row:hover {
  background-color: #EEEEEE;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s; }

/*#endregion */
/*#region category-tree */
.category-list {
  padding-left: initial;
  padding-right: 0;
  list-style: none; }
  .category-list ul {
    list-style: none; }

#treeview a {
  text-decoration: none; }
  #treeview a:hover {
    color: #263238; }

.tree {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
  color: #3949AB;
  position: relative; }
  .tree:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 1px solid; }
  .tree li {
    margin: 0;
    padding: 0 1.5em;
    line-height: 2em;
    font-weight: bold;
    position: relative; }
    .tree li:before {
      content: "";
      display: block;
      width: 10px;
      height: 0;
      border-top: 1px solid;
      margin-top: -1px;
      position: absolute;
      top: 1em;
      right: 0; }
    .tree li:last-child:before {
      background: white;
      height: auto;
      top: 1em;
      bottom: 0; }
  .tree ul {
    padding: 0;
    list-style: none;
    color: #3949AB;
    position: relative;
    margin-right: .5em; }
    .tree ul:before {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      border-right: 1px solid; }

/*#endregion */
/*#region calendar */
.calendar table {
  width: 100%; }

.calendar table td {
  text-align: center;
  border: 1px solid #EEEEEE;
  padding: 5px 0; }

.calendar table tbody td:hover {
  background-color: #F5F5F5; }

.calendar table td.today,
.calendar table td.today:hover {
  background-color: #FB8C00;
  color: #FFFFFF; }

.calendar table td.othermonth {
  color: #BDBDBD;
  cursor: pointer; }

.calendar table .headrow > .button {
  background-color: #ECEFF1; }

.calendar table .headrow > .button:hover {
  cursor: pointer;
  background-color: #CFD8DC; }

.calendar table .daynames > td {
  color: #616161;
  font-size: 13px; }

/*#endregion */
/*#region select2 */
.select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection,
.select2-container--bootstrap .select2-selection {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 40px; }

.select2-selection--multiple {
  height: auto !important; }

.select2-container--bootstrap .select2-selection,
.select2-container--open .select2-dropdown--above,
.select2-container--open .select2-dropdown--below,
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0; }

/*#endregion */
/*#region information-bar */
.information-bar {
  background-color: #F5F5F5;
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 10px 15px;
  width: 100%; }

.information-bar ul {
  margin-bottom: 0; }

.information-bar ul > li {
  border-left: 1px solid #BDBDBD;
  padding-left: 10px; }

.information-bar ul > li:last-child {
  border-left: none;
  padding-left: 0; }

/*#endregion */
/*#region tag-list */
.tag-list {
  margin-bottom: 15px; }
  .tag-list > span {
    display: inline-block;
    border: 1px solid #BDBDBD;
    padding: 3px 10px;
    margin-left: 5px;
    font-size: 12px;
    white-space: nowrap;
    margin-bottom: 5px; }
    .tag-list > span :before {
      display: inline-block;
      font-family: FontAwesome;
      -moz-font-feature-settings: normal;
      -webkit-font-feature-settings: normal;
      font-feature-settings: normal;
      font-kerning: auto;
      font-language-override: normal;
      font-size-adjust: none;
      font-stretch: normal;
      font-style: normal;
      font-synthesis: weight style;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-rendering: auto;
      content: "\f111";
      font-size: 7px;
      margin-left: 5px;
      color: #757575; }
    .tag-list > span :hover {
      border: 1px solid #BDBDBD;
      background-color: #EEEEEE; }
      .tag-list > span :hover :before {
        color: #212121; }

/*#endregion */
/*#region clock-picker */
.clockpicker-popover .popover-title {
  direction: ltr; }

/*#endregion */
/*#region action-cell */
.action-cell .action-link {
  font-size: 12px;
  color: #757575;
  text-decoration: none;
  padding: 0;
  outline: none; }

.hover-primary:hover, .hover-primary:hover *,
.hover-primary:focus, .hover-primary:focus *,
.hover-primary:active, .hover-primary:active * {
  color: #3F51B5;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.hover-warning:hover, .hover-warning:hover *,
.hover-warning:focus, .hover-warning:focus *,
.hover-warning:active, .hover-warning:active * {
  color: #FF9800;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.hover-danger:hover, .hover-danger:hover *,
.hover-danger:focus, .hover-danger:focus *,
.hover-danger:active, .hover-danger:active * {
  color: #F44336;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.hover-success:hover, .hover-success:hover *,
.hover-success:focus, .hover-success:focus *,
.hover-success:active, .hover-success:active * {
  color: #4CAF50;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.hover-info:hover, .hover-info:hover *,
.hover-info:focus, .hover-info:focus *,
.hover-info:active, .hover-info:active * {
  color: #03A9F4;
  cursor: pointer;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s; }

.action-cell .action-link:after {
  color: #757575;
  content: "|";
  padding: 0 4px; }

.action-cell .action-link:last-of-type:after {
  content: "";
  padding-left: 0; }

.hover-primary.active i {
  color: #3F51B5; }

.hover-warning.active i {
  color: #FF9800; }

.hover-danger.active i {
  color: #F44336; }

.hover-success.active i {
  color: #4CAF50; }

.hover-info.active i {
  color: #03A9F4; }

.panel-footer .action-link {
  text-decoration: none; }
  .panel-footer .action-link:after {
    color: #757575;
    content: "|";
    padding: 0 4px; }
  .panel-footer .action-link:last-of-type:after {
    content: "";
    padding-left: 0; }

/*#endregion */
/*#region lock-screen */
.lock-screen {
  background-color: #F5F5F5;
  margin-top: 100px;
  padding-top: 15px; }
  .lock-screen #logoutForm {
    margin: 10px 0; }

/*#endregion */
/*#region profile */
.profile-info {
  background-color: #F5F5F5;
  padding-top: 10px;
  margin-bottom: 20px; }
  .profile-info ul {
    margin-bottom: 0; }
    .profile-info ul > li {
      margin-bottom: 15px;
      font-size: 13px; }
      .profile-info ul > li:last-child {
        margin-bottom: 0; }
      .profile-info ul > li a {
        text-decoration: none; }
      .profile-info ul > li i {
        margin-left: 5px; }
      .profile-info ul > li strong {
        font-size: 14px; }
  .profile-info p {
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 10px; }
  .profile-info > div:first-of-type > img {
    margin-left: 10px; }
  .profile-info > .profile-actions {
    background-color: #FFFFFF;
    border-top: 1px solid #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px; }

.profile-history-table h3 {
  font-size: 18px;
  margin-top: 10px; }
  .profile-history-table h3 a {
    color: #2196F3;
    text-decoration: none; }
    .profile-history-table h3 a:hover, .profile-history-table h3 a :focus, .profile-history-table h3 a :active {
      color: #1565C0; }

.profile-chart {
  min-width: 310px;
  margin: 0 auto; }
  .profile-chart.contents-total {
    height: 300px;
    max-width: 600px; }
  .profile-chart.content-yearly {
    height: 400px; }

.profile-content-info {
  margin-top: 20px; }

/*#endregion */
/*#region gallery */
.gallery-upload .image-preview-holder img {
  margin-top: 20px; }

.gallery-upload .btn-upload-image {
  margin-top: 20px; }

/*#endregion */
#result {
  border: 1px solid #888;
  background: #f7f7f7;
  padding: 1em;
  margin-bottom: 1em; }

.list-style {
  list-style: none;
  padding: 0; }
  .list-style .fa-star {
    color: #F57C00;
    cursor: pointer;
    padding-right: 3px; }
  .list-style .fa-star-o {
    cursor: pointer;
    padding-right: 3px; }
  .list-style ul {
    display: none;
    list-style: none; }
    .list-style ul li {
      padding: 8px 0;
      padding-right: 5px; }
  .list-style li {
    border-top: 1px solid #E0E0E0;
    display: block; }
    .list-style li li:nth-child(odd) {
      background: #FAFAFA; }
    .list-style li .heading-title {
      display: inline-block;
      padding: 8px 0; }
      .list-style li .heading-title > i {
        transform: rotate(0deg); }
      .list-style li .heading-title.open > i {
        transform: rotate(180deg); }
    .list-style li .actions {
      float: left;
      font-size: 12px;
      display: inline-block;
      padding-top: 10px;
      cursor: pointer; }
    .list-style li .actions2 {
      float: left;
      font-size: 12px; }

.accordion-menu {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 15px;
  background-color: #fff;
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  text-align: right;
  width: 200px; }
  .accordion-menu ul li a {
    padding-right: 15px; }
  .accordion-menu ul li:nth-child(odd) a {
    background: #FAFAFA; }
  .accordion-menu li {
    direction: rtl; }
    .accordion-menu li .heading-title-submenu {
      display: block; }
      .accordion-menu li .heading-title-submenu > i {
        transform: rotate(0deg); }
      .accordion-menu li .heading-title-submenu.open > i {
        transform: rotate(180deg); }
    .accordion-menu li a {
      display: block;
      color: #343434;
      text-decoration: none;
      font-size: 13px;
      font-weight: normal;
      padding: 10px 7px; }
      .accordion-menu li a:hover, .accordion-menu li a:focus, .accordion-menu li a:active {
        color: #343434; }
  .accordion-menu ul {
    display: none;
    list-style: none;
    padding-right: 0; }

#btnSubmenu {
  width: 200px;
  height: 51px;
  background-color: #778c96;
  border-color: #778c96; }

.fa-angle-down:before {
  font-size: 20px; }

.chartSpan {
  display: inline-block;
  width: 20px;
  margin-right: 5px; }
  .chartSpan i {
    color: #F57C00;
    cursor: pointer; }

.branch-disaster-name {
  padding-top: 25px;
  display: block; }

.custom-divider {
  border-bottom: 1px solid #EEEEEE; }

.defultarea-text {
  padding-right: 5px;
  float: right;
  text-align: right; }
  .defultarea-text span {
    font-size: 12px;
    display: inline-block;
    padding-top: 3px; }

  .login {
       padding:30px;
  }

.login-form {
  background-color: white;
  margin-top: 50px;
  border: 1px solid #BDBDBD;
  /*padding: 10px;*/ }
  .login-form h1 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 15px; }
  .login-form .validation-summary-errors ul > li {
    text-align: right; }
  .login-form .right-login-section {
    border-right: 1px solid #BDBDBD; }
  .login-form .link-image {
    padding-top: 30px;
    padding-bottom: 40px;
    text-decoration: none; }
    .login-form .link-image span {
      display: block;
      padding-top: 10px; }
    .login-form .link-image a {
      text-decoration: none;
      text-align: center; }
    .login-form .link-image img {
      text-align: center; }
  .login-form .footer-login {
    /*padding-top: 120px;*/
    padding-right: 22px;
    padding-left: 15px;
    font-size: 13px;
    position: absolute;
    bottom: 5px; }
  .login-form .robot-cheak {
    padding-top: 15px;
    padding-bottom: 10px; }
  .login-form .input-group-addon:first-child {
    border-color: #212121; }
  .login-form .list-item li {
    text-align: justify;
    padding-left: 25px;
    padding-bottom: 8px; }
  .login-form .footer-login a {
    text-decoration: none; }
  .login-form .user-password-style {
    position: relative;
    color: #BDBDBD; }
  .login-form i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    color: #BDBDBD; }
  .login-form .login-textbox {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    padding-top: 20px; }
  .login-form .icon-active-color {
    color: #FF9800; }
  .login-form input {
    padding-right: 25px;
    color: #757575; }
  .login-form input:focus {
    border-color: #9E9E9E;
    color: #424242; }

@media (min-width: 1000px) {
  .full-page .container {
    max-width: 770px; } }

@media (max-width: 990px) {
  .full-page .right-login-section {
    border-right: none; } }

.user-settings-link {
  display: inline-block;
  padding: 8px 0; }
  .user-settings-link > i {
    transform: rotate(0deg);
    position: relative;
    top: 10px;
    left: 5px; }
  .user-settings-link.open i {
    transform: rotate(180deg); }

.list-style-permission {
  list-style: none;
  padding: 0; }
  .list-style-permission .fa-star {
    color: #F57C00;
    cursor: pointer;
    padding-right: 3px; }
  .list-style-permission .fa-star-o {
    cursor: pointer;
    padding-right: 3px; }
  .list-style-permission > ul {
    display: none; }
  .list-style-permission .heading-title {
    display: inline-block;
    padding: 8px 0; }
    .list-style-permission .heading-title > i {
      transform: rotate(0deg);
      position: relative;
      top: 3px; }
    .list-style-permission .heading-title.open > i {
      transform: rotate(180deg); }
  .list-style-permission ul {
    list-style: none; }
    .list-style-permission ul li {
      padding: 8px 0;
      padding-right: 5px; }
  .list-style-permission li {
    display: block; }
    .list-style-permission li li:nth-child(odd) {
      background: #FAFAFA; }
    .list-style-permission li .actions {
      float: left;
      font-size: 12px;
      display: inline-block;
      padding-top: 10px;
      cursor: pointer; }
    .list-style-permission li .actions2 {
      float: left;
      font-size: 12px; }

.row-permission {
  border-bottom: 1px solid #E0E0E0; }
  .row-permission span {
    padding-top: 25px;
    display: block; }

.fa-mobile-phone:before, .fa-mobile:before {
  font-size: 21px; }

.title-bold {
  font-weight: bold; }

.contact-info {
  border-bottom: 1px solid #CFD8DC;
  font-size: 14px; }

.database-manage div div {
  text-align: center;
  border: 1px solid #B0BEC5;
  margin-top: 30px;
  padding: 35px 35px 25px; }
  .database-manage div div h2 {
    border-bottom: 1px dashed #B0BEC5;
    font-size: 15px; }
    .database-manage div div h2 a {
      display: block;
      padding-bottom: 10px; }
  .database-manage div div > a {
    font-size: 12px; }

.database-manage i {
  font-size: 70px;
  color: #616161; }

.link-style {
  padding-bottom: 15px; }
  .link-style a {
    padding-left: 10px;
    margin-left: 10px; }

.image-box {
  border: 1px solid #B0BEC5;
  text-align: center;
  padding: 20px;
  margin-bottom: 30px; }
  .image-box img {
    padding: 15px 5px 15px 5px; }
  .image-box i {
    font-size: 80px; }

.description-area {
  padding: 15px 10px 15px 10px; }

.file-extension {
  padding-top: 20px; }
  .file-extension span {
    display: inline-block;
    border: 1px solid;
    padding: 6px 10px 6px 10px; }

.loader-user {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-bottom: 16px solid blue;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 200px; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.recieve-user-data {
  margin-top: 29px; }

.message-box {
  padding-top: 30px; }

#jstree > ul > li:first-child > a:first-of-type {
  font-size: 16px;
  font-weight: bold; }

.jstree-proton.jstree-rtl .jstree-open > .jstree-ocl {
  background-position: -126px -30px; }

.jstree-proton.jstree-rtl .jstree-closed > .jstree-ocl {
  background-position: -94px -30px; }

.jstree-proton.jstree-rtl .jstree-leaf > .jstree-ocl {
  background-position: -62px -30px; }

.jstree-proton .jstree-icon:empty {
  width: 32px;
  height: 32px;
  line-height: 32px; }

.jstree-proton .jstree-anchor {
  line-height: 32px;
  height: 32px; }

.login-sec {
  text-align: center;
  width: 45%;
  margin: 0px auto;
  padding: 76px;
  border: 0px solid;
  border-radius: 6px;
  position: fixed;
  top: 168px;
  z-index: 100;
  background-color: white;
  right: 10px;
  left: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 17px 0px; }

.login-body {
  padding-top: 0px; }

.login-topdiv {
  height: 300px;
  width: 100%;
  margin: 0px;
  padding: 0px; }
  .login-topdiv img {
    margin-top: 15px; }

.login-password {
  padding-top: 13px; }

.login-user {
  padding-top: 23px; }

.login-submit {
  padding-top: 10px; }

.notification-span {
  display: inline-block;
  float: left; }
  .notification-span .notification-lable {
    padding-left: 15px; }
  .notification-span .notification-web-lable {
    padding-left: 15px; }

.dynamic-parameter span {
  display: block; }

#header {
    background-color: #51445f;
    z-index: 1001;
    -webkit-transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    -moz-transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
    transition: right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335), padding-right 0.25s cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
.branding {
   
    width: 250px;
    height: 45px;
    float: left;
    padding: 0 15px;
}

    .branding .offcanvas-toggle {
        color: white;
        margin-left: 5px;
        opacity: .5;
        padding: 1px 4px;
        font-size: 18px;
    }